/* :root {

} */

* {
  margin: 0;
  box-sizing: border-box;
}

:not(ul):not(ol) {
  padding: 0;
}

html {
  .open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
}